Good morning %FIRSTNAME%, 
<br /><br />
According to our records you haven't filled out the required COVID Screening form today. 
If you're going into school, or are already at the school please fill it out as soon as you can.  
Here is the <a href="https://covid.site.com">link</a> to the form in case you need it. 
<br /><br />
Thank you. 
<br /><br />
Please do not reply to this message.
